<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.lime.limeEduApi.api.board.dao.ContentDao">
	<sql id="pagingPrev">
      SELECT 
         Z.*
      FROM (
         SELECT 
            ROW_NUMBER() OVER() AS RN 
   </sql>
    <sql id="pagingNext">
        <if test='orderKey != null and !orderKey.equals("")'>
        ORDER BY
            <if test='orderKey.equals("seq")'> SEQ</if>
            <if test='orderKey.equals("title")'> TITLE</if>
            <if test='orderKey.equals("content")'> CONTENT</if>
            <if test='orderKey.equals("regNm")'> REG_NM</if>
            <if test='orderKey.equals("regDate")'> REG_DATE</if>
            <if test='orderKey.equals("useYn")'> USE_YN</if>
            <if test='orderBy.equals("ASC")'> ASC</if>
            <if test='orderBy == null or orderBy.equals("DESC")'> DESC</if>
            </if>
        ) Z
        LIMIT #{start}, #{cnt}
    </sql>
     <sql id="searchContent">
   		<if test='title != null and !title.equals("")'>
        	 AND C.TITLE LIKE CONCAT('%', #{title},'%')
        </if>
        <if test='content != null and !content.equals("")'>
        	 AND C.CONTENT LIKE CONCAT('%', #{content},'%')
        </if>
        <if test='integrated != null and !integrated.equals("")'>
        	 AND (C.TITLE LIKE CONCAT('%', #{integrated},'%') OR CONTENT LIKE CONCAT('%', #{integrated},'%'))
        </if>
        <if test='regNm != null and !regNm.equals("")'>
        	 AND U.NAME LIKE CONCAT('%', #{regNm},'%')
        </if>
    </sql>
	 <select id="selectContentList" resultType="ContentDto" parameterType="BoardContentListReq">
		 /* boardMapper.selectContentList [ 일반 게시판 목록 조회 ] */
		 <include refid="pagingPrev"></include>
	 		, C.SEQ
	 		, C.BOARD_SEQ
	 		, C.TITLE
	 		, C.CONTENT
	 		, U.NAME AS REG_NM
	 		, F.ORIGINAL_FILE_NAME AS FILENAME
	 		, F.SEQ AS FILE_SEQ
	 		, C.REG_SEQ
	 		, C.REG_DATE
	 		, C.MOD_SEQ
	 		, C.MOD_DATE
	 		, C.USE_YN
	  FROM
	  	 	CONTENT C
	  JOIN USER U
			ON C.REG_SEQ = U.SEQ	
	  LEFT OUTER JOIN FILE F
	  		ON C.SEQ = F.CONTENT_SEQ
	  		AND F.USE_YN = 1
	  WHERE 1=1 	
	  AND C.USE_YN = 1
	  AND BOARD_SEQ = #{ boardSeq }
  	 	<include refid="searchContent"></include>
        <include refid="pagingNext"></include>
	 </select>
	 
	 <select id="getContentListTotalCnt" parameterType="ContentDto" resultType="int">
		 
		 /* boardMapper.getContentListTotalCnt [ 일반 게시판 총 수 ] */
		SELECT 
			COUNT(*)
		 FROM 
		 	CONTENT C
	  	 JOIN USER U
			ON C.REG_SEQ = U.SEQ	
		 LEFT OUTER JOIN FILE F
	  		ON C.SEQ = F.CONTENT_SEQ
	  		AND F.USE_YN = 1
	 	 WHERE 1=1 	
	 	 AND BOARD_SEQ = #{ boardSeq }
	 	<include refid="searchContent"></include>
	 </select>
	 
	 <insert id="createContent">
        /* boardMapper.createContent [ 일반 게시글 등록 ] */
        <selectKey keyProperty="seq" resultType="int" order="AFTER">
        	SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO CONTENT(
             BOARD_SEQ
            , TITLE
            , CONTENT
            , REG_SEQ
            , REG_DATE
            , USE_YN
        ) VALUES (
        	 #{ boardSeq }
            , #{ title }
            , #{ content }
            , #{ regSeq }
            , NOW()
            , #{ useYn }
        )
    </insert>
	
	<select id="getContentInfo" resultType="ContentDto">
        /* boardMapper.getContentInfo [ 일반 게시글 정보 조회 ] */
        SELECT
        	C.SEQ
        	, C.BOARD_SEQ
            , C.TITLE
            , C.CONTENT
            , B.TYPE
            , U.NAME AS REG_NM
            , F.ORIGINAL_FILE_NAME AS FILE_NAME
            , F.SEQ AS FILE_SEQ
            , C.REG_SEQ
            , C.REG_DATE
            , C.MOD_SEQ
            , C.MOD_DATE
            , C.USE_YN
        FROM
	  	 	CONTENT C
	  	JOIN USER U
			ON C.REG_SEQ = U.SEQ	
		LEFT OUTER JOIN FILE F
	  		ON C.SEQ = F.CONTENT_SEQ
	  		AND F.USE_YN = 1
  		LEFT OUTER JOIN BOARD B
  			ON C.BOARD_SEQ = B.SEQ
	  	WHERE 1=1
        AND C.SEQ = #{ seq }
    </select>
    
     <update id="modContent" parameterType="ContentDto">
        /* BoardDto.modContent [ 일반 게시글 수정 ] */
        UPDATE CONTENT SET
            TITLE = #{ title }
            , CONTENT = #{ content }
            , MOD_SEQ = #{ modSeq }
            , MOD_DATE = NOW()
        WHERE SEQ = #{seq}
    </update>
 </mapper>